<style>
    body{
        background-color: #007bff
    }
</style>
@* 
<div class="text-center" style="
color:white;
justify-content: center;
align-items: center; 
text-align: center;
margin-top:200px;

">

   <h1 class="display-4">Welcome to HSMSS/NEXUS.</h1> *@
    @* <img src="E:\OdysseyOfAchieverChallenge\studentProject\studentProjectWeb\wwwroot\Assets\30 Days Challenge.jpg" alt="30 Days Challenge" height="250px" width="250px" /> *@
   @*  <p style="
">Learn about <a href="https://localhost:7145/students/add">Register to join?</a>.</p>
</div>
 *@
<div class="container mt-150">
    <div class= "jumbotron">
        <h1 class="display-4">Welcome to the odyssey of Achievers Challenge!</h1>
        <p class="lead">Push your limits, develop new skills, and connect with like-minded individuals.</p>
        <a class="btn btn-primary btn-lg" href="https://localhost:7145/students/add" role="button">Join the Challenge</a>
    </div>
</div>
